In [1]:
# import lib
import pandas as pd

In [2]:
# read in the csv file as a pandas dataframe
data = pd.read_csv('london_merged.csv')

In [3]:
data

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,1/4/2015 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,1/4/2015 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,1/4/2015 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,1/4/2015 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3
...,...,...,...,...,...,...,...,...,...,...
17409,1/3/2017 19:00,1042,5.0,1.0,81.0,19.0,3,0,0,3
17410,1/3/2017 20:00,541,5.0,1.0,81.0,21.0,4,0,0,3
17411,1/3/2017 21:00,337,5.5,1.5,78.5,24.0,4,0,0,3
17412,1/3/2017 22:00,224,5.5,1.5,76.0,23.0,4,0,0,3
17413,1/3/2017 23:00,139,5.0,1.0,76.0,22.0,2,0,0,3

In [5]:
data.shape

(17414, 10)

In [7]:
# explore the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  int64
 7   is_holiday    17414 non-null  int64
 8   is_weekend    17414 non-null  int64
 9   season        17414 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [8]:
# changing dtype weather_code column to float
data['weather_code'] = data['weather_code'].astype('float64')

In [9]:
# changing dtype season column to float
data['season'] = data['season'].astype('float64')

In [19]:
# check the data again for make sure is changing 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_C        17414 non-null  float64
 3   temp_feels_like_C  17414 non-null  float64
 4   humidity_percent   17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather_code       17414 non-null  float64
 7   is_holiday         17414 non-null  int64
 8   is_weekend         17414 non-null  int64
 9   season             17414 non-null  float64
dtypes: float64(6), int64(3), object(1)
memory usage: 1.3+ MB

In [11]:
# count the unique values in the weather_code column
data.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [12]:
# count the unique values in the season column
data.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [22]:
# specifying new columns name
new_cols_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season:':'season'
}

# renaming the new columns name
data.rename(new_cols_dict, axis=1, inplace=True)

In [17]:
# changing humadity to percentage
data.humidity_percent = data.humidity_percent / 100

In [23]:
# creating a weather dictionary
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# creating a season dictionary
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# changing the weather column data type to string
data.weather = data.weather.astype('str')
# mapping
data.weather = data.weather.map(weather_dict)

# changing the season columns data type to string
data.season = data.season.astype('str')
# mapping
data.season = data.season.map(season_dict)

In [24]:
data.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,0.00930,6.0,Broken clouds,0,1,winter
1,1/4/2015 1:00,138,3.0,2.5,0.00930,5.0,Clear,0,1,winter
2,1/4/2015 2:00,134,2.5,2.5,0.00965,0.0,Clear,0,1,winter
3,1/4/2015 3:00,72,2.0,2.0,0.01000,0.0,Clear,0,1,winter
4,1/4/2015 4:00,47,2.0,0.0,0.00930,6.5,Clear,0,1,winter

In [26]:
# export final dataframe to excel
data.to_excel('london_final.xlsx', sheet_name='Data')